<h2>Yap You are logged in!</h2>
<hr>

<h4>
	<% if current_user.full_name != nil %>
		Name: <%= current_user.full_name %><br>
		<%= image_tag(current_user.avatar_url, style:'max-width:200px; max-height:200px;') %><br>
	<% else %>
		Name: <%= current_user.username %><br>
	<% end %>
	Id: <%= current_user.id %><br>
	Email: <%= current_user.email %><br>
	
</h4>
<hr>
<h3>All users</h3>

<table cellpadding="5">
	<thead>
		<tr><th>Id</th>
			<th>Name</th>
			<th>Email</th></tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr><td><%= user.id %></td>
				<td>
					<% if user.full_name != nil %>
						<%= user.full_name %>
					<% else %>
						<%= user.username %>
					<% end %></td>
				
				<td><%= user.email %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<hr>
<%= link_to "Sign Out", destroy_user_session_path , method: :delete %>
